#navbar{
    height: 9vh;
    width: 100%;
    background: #5c1010;
    position: fixed;
    z-index: 10;
    .navbar-logo{
        padding: 0 10px;
        margin-left: 10px;
        float: left;
    }
    .navbar-link{
        text-decoration: none;
        color: #fff;
    }
    .navbar-logo-img{
        width: 40px;
    }

    .navbar-nav{
        float: right;
        // background: #f89;
        height: 100%;
        // padding: auto;
        // line-height: 30px;
        // padding: auto 0;
        padding-top: 10px;
    }
    .navbar-icons{
        display: inline;
        cursor: pointer;
    }
    .navbar-icon{
        width: 30px;
        padding: 0 3px;
        margin-right: 30px;
        transition: display 10s ease;

    }
    .navbar-close{
        display: none;
    }
    ul{
        list-style: none;
        position: absolute;
        top: 9vh;
        display: flex;
        flex-flow: column;
        flex-direction: column;
        height: 70vh;
        background: #5c1010;
        width: 50vw;
        right: -50vw;
        transition: all 1s ease-in;

        animation: animating 2s ease;


    }
    li:hover{
        background: #000;
        // width: 100%;
        a{
            transform: translateX(10px);
        }
    }
    li{
        // display:;
        height: 100%;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;        
        a{
            width: 70%;
            text-align: center;
            transition: all 2s ease;
            // animation: animating 5s ease;
        }
    }
    .enquery{
        background: #a44;
    }
    .enquery:hover{
        background: #955;
    }


    @keyframes animating {
        0%{
            transform: translateX(50px);
        }
        100%{
            transform: translateX(0px);
        }
    }
    
    

}


.navbar-link-toggle {
    right: 0vw !important; 
}

#navbar:after{
    clear: both;
    content: '';
    display: table;
}
